<footer>
	<div style="background: #1d76c3">
		<div class="container">
			<div class="row head-footer">
				<div class="col-sm-4">
					<span class="footer-title">UBÍCANOS:</span><span class="linea">&nbsp;</span>
					<ul>
						<li><i class="icon-location"></i>Jr. Enrique Palacios N° 120 Int 3 <br> Chimbote - Santa - Ancash</li>
						<li><i class="icon-phone1"></i>Teléfonos: (043) 468359&nbsp;&nbsp; Cel: 982364932</li>
					</ul>
				</div>
				<div class="col-sm-4">
					<span class="footer-title">ATENCIÓN:</span><span class="linea">&nbsp;</span>
					<ul>
						<li>Trabajamos de Lunes a Sábados.</li>
						<li>Póngase en contacto con nosotros para más información.</li>
						<br>
						<li>Lunes - Viernes: 8:00 - 19:00</li>
						<li>Sábados: 9:00 - 13:00</li>
					</ul>
				</div>
				<div class="col-sm-4 redes-sociales">
					<span class="footer-title">REDES SOCIALES:</span><span class="linea">&nbsp;</span>
					<table>
						<tr>
							<td><a href="https://www.facebook.com/saidcorp.pe"><img src="assets/images/extras/iconf-fb.png" alt="" class="img-responsive img-reduce"></a></td>
							<!-- <td><img src="assets/images/extras/iconf-twitter.png" alt="" class="img-responsive img-reduce"></td> -->
							<td><a href="https://www.youtube.com/channel/UC8tbkfKBG6BxVIWHLwmAOuA"><img src="assets/images/extras/iconf-youtube.png" alt="" class="img-responsive img-reduce"></a></td>
							<td><img src="assets/images/extras/iconf-instagram.png" alt="" class="img-responsive img-reduce"></td>
							<!-- <td><img src="assets/images/extras/iconf-whatsapp.png" alt="" class="img-responsive img-reduce"></td> -->
							<!-- <td><img src="assets/images/extras/iconf-linkendin.png" alt="" class="img-responsive img-reduce"></td> -->
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
		<div class="container-fluid">
			<div class="row menu-footer">
				<div class="col-sm-3 offset-md-6 text-center">
					<a href="inicio">Inicio - SAID ASESORES CORPORATIVOS</a>
				</div>
				<div class="col-sm-2 text-center">
					<a href="">PREGUNTAS FRECUENTES</a>
				</div>
				<div class="col-sm-1 text-center">
					<a href="">CONTACTOS</a>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row final-footer">
				<div class="col-sm-6">&#169;SAID ASESORES CORPORATIVOS S.A.C 2018 TODOS LOS DERECHOS RESERVADOS</div>
				<div class="col-sm-3"><a href="politicas-de-privacidad">POLÍTICAS DE PRIVACIDAD DE DATOS PERSONALES</a></div>
				<div class="col-sm-3">DESARROLLADO POR SAID ASESORES CORPORATIVOS S.A.C.</div>
			</div>
		</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="application/helpers/contacto-script.js"></script>
<script src="application/helpers/web-script.js"></script>
<script src="application/helpers/funciones-script.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<!-- <script type="text/javascript" src="assets/js/jquery.js"></script> -->
<script type="text/javascript" src="assets/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="assets/js/jquery.fancybox-media.js"></script>
<!-- <script type="text/javascript" src="assets/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="assets/js/portfolio/setting.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- slider compact -->
<script type="text/javascript" src="assets/slick/slick2.js"></script>
<script type="text/javascript" src="assets/slick/slick.min.js"></script>
</body>
</html>