<div class="menu">
	<div class="header-menu-full">
		<div class="container">
			<div id="header-menu" class="row text-center">
			    <div class="col-sm-4">
			      <i class="icon-phone"></i> (043) 468359 | 982364932
			    </div>
			    <div class="col-sm-4">
			      <i class="icon-envelope"></i> informes@saidcorp.pe
			    </div>
			    <div class="col-sm-4">
			      	<a href="https://www.facebook.com/saidcorp.pe" target="_blank"><img src="assets/images/extras/icon-fb.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-twitter.png" alt="" class="img-responsive img-reduce"> -->
					<a href="https://www.youtube.com/channel/UC8tbkfKBG6BxVIWHLwmAOuA" target="_blank"><img src="assets/images/extras/icon-youtube.png"alt="" class="img-responsive img-reduce"></a>
					<a href="https://www.instagram.com/saidcorp.oficial" target="_blank"><img src="assets/images/extras/icon-instagram.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-whatsapp.png" alt="" class="img-responsive img-reduce"> -->
					<!-- <a href="https://www.linkedin.com/in/said-asesores-corporativos-3b9079173/"><img src="assets/images/extras/icon-linkendin.png" alt="" class="img-responsive img-reduce"></a> -->
			    </div>
		  	</div>
		</div>
	</div>
	<div class="body-menu-full">
		<div class="container">
		    <nav class="navbar navbar-expand-lg">
			  <a class="navbar-brand" href="inicio">
			  	<span class="logo-normal"><img src="assets/images/logo1.png" class="d-inline-block align-top img-logo"></span>
			    <span class="logo-navidad"><img src="assets/images/logo1-navidad.png" class="d-inline-block align-top img-logo"></span>
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			    <ul class="nav navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link2" href="inicio" role="tab">INICIO</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          QUIENES SOMOS
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="nosotros">NOSOTROS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="equipo">EQUIPO</a>
			        </div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link2 active show" href="servicios" role="tab">SERVICIOS</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          NOVEDADES
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="normativas">NORMATIVAS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="videos">VIDEOS</a>
			        </div>
			      </li>
<!-- 			      <li class="nav-item">
			        <a class="nav-link2" href="herramienta-empresarial" role="tab">BLOG</a>
			      </li> -->
			      <li class="nav-item">
			        <a class="nav-link2" href="vcontacto" role="tab">CONTÁCTENOS</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</div>
</div>
<!-- *************************************** M contable ********************************* -->
<div class="container sticky">
	<ul class="breadcrumb"></ul>
	<div class="row">
		<div class="col-lg-9 col-md-12 col-sm-12">
			<div class="service">
				<img src="assets/images/galeria/servicios/top_contable.png" alt="">
				<div class="title-service lead">
					<p>Materia</p>
					<p>Contable</p>
				</div>
			</div>
			<p>Administramos la contabilidad y las planillas de empresas con eficiencia en las modalidades de contabilidad externa y Outsourcing.</p>
	        <div class="row">
	        	<div class="col-sm-12">
	        		<ul class="breadcrumb"><h4>Contable</h4></ul>
	        		<div class="body-service text-left pl-2">
	        			<p>Contable <a class="" data-toggle="collapse" href="#C1" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="C1">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Llenado de Registros Contables.</li>
								<li>Elaboración de Libros Contables.</li>
								<li>Presentación de Declaraciones Tributarias.</li>
								<li>Emisión de comprobantes de pago electrónico y otros documentos.</li>
								<li>Elaboración de Kárdex.</li>
								<li>Búsqueda, evaluación y presentación de proveedores relacionados a asuntos contables.</li>
								<li>Capacitación en asuntos contables</li>
								<li>Determinación del monto de devolución de AFP.</li>
							</ul>
						  </div>
						</div>
	        			<p>Tesorería y Finanzas <a class="" data-toggle="collapse" href="#C2" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="C2">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Control y pago de proveedores y otros.</li>
								<li>Control y análisis de Cuentas por Cobrar.</li>
								<li>Control y manejo de caja chica.</li>
								<li>Conciliación de cuentas por pagar y cuentas por cobrar.</li>
								<li>Control de cheques.</li>
								<li>Pago de Haberes.</li>
								<li>Elaboración de presupuestos.</li>
								<li>Control y pago de Detracciones, Retenciones, Percepciones.</li>
								<li>Revisión de rendiciones.</li>
							</ul>
						  </div>
						</div>
						<p>Control de Planilla <a class="" data-toggle="collapse" href="#C3" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="C3">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Alta, baja, modificaciones del T-Registro.</li>
								<li>Elaboración y presentación del PLAME.</li>
								<li>Cálculo y pago de tributos laborales.</li>
								<li>Elaboración y entrega de boletas de pago.</li>
								<li>Afiliación, elaboración, declaración y pago de AFP.</li>
								<li>Liquidaciones de beneficios sociales.</li>
								<li>Implementación, mantenimiento y control de legajos de personal.</li>
								<li>Comunicaciones de mero trámite en vacaciones, movimientos de personal, temas operativos.</li>
								<li>Control de vacaciones.</li>
								<li>Apertura de Cuentas Bancarias a trabajadores.</li>
								<li>Control de vencimientos de contratos.</li>
							</ul>
						  </div>
						</div>
	        			<p>Control Interno <a class="" data-toggle="collapse" href="#C4" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="C4">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Arqueo de caja.</li>
								<li>Verificación de planillas de movilidad.</li>
								<li>Realización y control de inventario.</li>
								<li>Conciliación bancaria.</li>
								<li>Revisión de venta diaria.</li>
								<li>Revisión del kárdex.</li>
								<li>Conciliación de pagos con tarjetas de crédito.</li>
								<li>Control de ingresos y egresos.</li>
								<li>Control de mermas y desmedros.</li>
							</ul>
						  </div>
						</div><br>
	        		</div>
	        	</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card text-center bg-light card-sticky">
			  <img class="card-img-top" src="assets/images/11.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title text-center">¿Cómo podemos ayudarte?</h5>
			    <p class="card-text text-justify">Estamos para absolver tus dudas y adecuarnos a tus necesidades.</p>
			    <a href="vcontacto" class="btn btn-primary">Contáctenos</a>
			  </div>
			</div>
		</div>
	</div>
	<br>
</div>