<div class="menu">
	<div class="header-menu-full">
		<div class="container">
			<div id="header-menu" class="row text-center">
			    <div class="col-sm-4">
			      <i class="icon-phone"></i> (043) 468359 | 982364932
			    </div>
			    <div class="col-sm-4">
			      <i class="icon-envelope"></i> informes@saidcorp.pe
			    </div>
			    <div class="col-sm-4">
			      	<a href="https://www.facebook.com/saidcorp.pe"><img src="assets/images/extras/icon-fb.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-twitter.png" alt="" class="img-responsive img-reduce"> -->
					<a href="https://www.youtube.com/channel/UC8tbkfKBG6BxVIWHLwmAOuA"><img src="assets/images/extras/icon-youtube.png" alt="" class="img-responsive img-reduce"></a>
					<a href="https://www.instagram.com/saidcorp.oficial"><img src="assets/images/extras/icon-instagram.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-whatsapp.png" alt="" class="img-responsive img-reduce"> -->
					<!-- <a href="https://www.linkedin.com/in/said-asesores-corporativos-3b9079173/"><img src="assets/images/extras/icon-linkendin.png" alt="" class="img-responsive img-reduce"></a> -->
			    </div>
		  	</div>
		</div>
	</div>
	<div class="body-menu-full">
		<div class="container">
		    <nav class="navbar navbar-expand-lg navbar-light ">
			  <a class="navbar-brand" href="inicio">
			  	<span class="logo-normal"><img src="assets/images/logo1.png" class="d-inline-block align-top img-logo"></span>
			    <span class="logo-navidad"><img src="assets/images/logo1-navidad.png" class="d-inline-block align-top img-logo"></span>
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			    <ul class="nav navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link2" href="inicio" role="tab">INICIO</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle active show" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          QUIENES SOMOS
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="nosotros">NOSOTROS</a>
			          <a class="dropdown-item sub-link2 border border-white active show" href="equipo">EQUIPO</a>
			        </div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link2" href="servicios" role="tab">SERVICIOS</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          NOVEDADES
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="#">NORMATIVAS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="#">VIDEOS</a>
			        </div>
			      </li>
<!-- 			      <li class="nav-item">
			        <a class="nav-link2" href="herramienta-empresarial" role="tab">BLOG</a>
			      </li> -->
			      <li class="nav-item">
			        <a class="nav-link2" href="vcontacto" role="tab">CONTÁCTENOS</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</div>
</div>
<!-- *************************************** SERVICIOS ********************************* -->
<div class="container sticky">
	<ul class="breadcrumb"></ul>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center">División de Gestión</h2>
			<br>
			<div class="row">
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e1.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Ana María Miranda Api</p>
					    <p class="card-text-edit">Lider - División de Gestión</p>
					    <p class="card-text-edit">amiranda@saidcorp.pe, informes@saidcorp.pe</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e2.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Sergio Bryam Collao Díaz</p>
					    <p class="card-text-edit">Departamento de Recursos Informáticos</p>
					    <p class="card-text-edit">scollao@saidcorp.pe, sistemas@saidcorp.pe</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e3.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Marlon J. Garcia Alba</p>
					    <p class="card-text-edit">Departamento de Comunicaciones y Marketing</p>
					    <p class="card-text-edit">mgarcia@saidcorp.pe</p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center">División de Análisis Legal</h2>
			<br>
			<div class="row">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e4.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Said G. Trujillo Ripamontti</p>
					    <p class="card-text-edit">Socio Fundador - Lider de la División de Análisis Legal</p>
					    <p class="card-text-edit">strujillo@saidcorp.pe</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e5.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Bryan Andre Aguilar Cuenca</p>
					    <p class="card-text-edit">Departamento Laboral</p>
					    <p class="card-text-edit">baguilar@saidcorp.pe</p>
					  </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e6.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Darlly Prisilla Vega Ascona</p>
					    <p class="card-text-edit">Departamento Contencioso Tributario</p>
					    <p class="card-text-edit">dvega@saidcorp.pe</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e7.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Eduardo Manuel Castro Franco</p>
					    <p class="card-text-edit">Departamento Contencioso Tributario</p>
					    <p class="card-text-edit">ecastro@saidcorp.pe</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e8.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Lucero Estefany Ayala Ramírez</p>
					    <p class="card-text-edit">Departamento de Procedimientos Administrativos</p>
					    <p class="card-text-edit">layala@saidcorp.pe</p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center">División de Contabilidad Tributaria</h2>
			<br>
			<div class="row">
				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e9.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Arnold Erick Rodríguez Castillo</p>
					    <p class="card-text-edit">Lider - División de Contabilidad Tributaria</p>
					    <p class="card-text-edit">arodriguez@saidcorp.pe</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e10.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Keyla Stefany Ríos Carrasco</p>
					    <p class="card-text-edit">Apoyo Contable</p>
					    <p class="card-text-edit">krios@saidcorp.pe</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e11.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Alejandro Esmith Cierto Córdova</p>
					    <p class="card-text-edit">Departamento de Contabilidad</p>
					    <p class="card-text-edit">acierto@saidcorp.pe</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e12.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Wildemar Alfonso Tello Cruz</p>
					    <p class="card-text-edit">Departamento de Contabilidad</p>
					    <p class="card-text-edit">wtello@saidcorp.pe</p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center">División de Outsourcing Contable</h2>
			<br>
			<div class="row">
				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e13.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Hernando Elio Villanueva Llanos</p>
					    <p class="card-text-edit">Lider - División de Outsourcing Contable</p>
					    <p class="card-text-edit">evillanueva@saidcorp.pe</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e14.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Jeyson Rubens Mendez Castillo</p>
					    <p class="card-text-edit">Departamento de Contabilidad</p>
					    <p class="card-text-edit">jmendez@saidcorp.pe</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e15.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Edgar Andrés López Sánchez</p>
					    <p class="card-text-edit">Departamento de Planillas</p>
					    <p class="card-text-edit">elopez@saidcorp.pe</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
					<div class="card" style="width: 220px;">
					  <img class="card-img-top rounded" src='assets/images/galeria/colaboradores/e16.png' alt="Card image cap">
					  <div class="card-body text-center">
					    <p class="card-title-edit">Maryori Liseth Colombino De La Cruz</p>
					    <p class="card-text-edit">Departamento de Registro Contable</p>
					    <p class="card-text-edit">mcolombino@saidcorp.pe</p>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>