<div class="menu">
	<div class="header-menu-full">
		<div class="container">
			<div id="header-menu" class="row text-center">
			    <div class="col-sm-4">
			      <i class="icon-phone"></i> (043) 468359 | 982364932
			    </div>
			    <div class="col-sm-4">
			      <i class="icon-envelope"></i> informes@saidcorp.pe
			    </div>
			    <div class="col-sm-4">
			      	<a href="https://www.facebook.com/saidcorp.pe" target="_blank"><img src="assets/images/extras/icon-fb.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-twitter.png" alt="" class="img-responsive img-reduce"> -->
					<a href="https://www.youtube.com/channel/UC8tbkfKBG6BxVIWHLwmAOuA" target="_blank"><img src="assets/images/extras/icon-youtube.png"alt="" class="img-responsive img-reduce"></a>
					<a href="https://www.instagram.com/saidcorp.oficial" target="_blank"><img src="assets/images/extras/icon-instagram.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-whatsapp.png" alt="" class="img-responsive img-reduce"> -->
					<!-- <a href="https://www.linkedin.com/in/said-asesores-corporativos-3b9079173/"><img src="assets/images/extras/icon-linkendin.png" alt="" class="img-responsive img-reduce"></a> -->
			    </div>
		  	</div>
		</div>
	</div>
	<div class="body-menu-full">
		<div class="container">
		    <nav class="navbar navbar-expand-lg navbar-light ">
			  <a class="navbar-brand" href="inicio">
			  	<span class="logo-normal" style="display: none;"><img src="assets/images/logo1.png" class="d-inline-block align-top img-logo"></span>
			    <span class="logo-navidad" style="display: none;"><img src="assets/images/logo1-navidad.png" class="d-inline-block align-top img-logo"></span>
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			    <ul class="nav navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link2 active show" href="inicio" role="tab">INICIO</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          QUIENES SOMOS
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="nosotros">NOSOTROS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="equipo">EQUIPO</a>
			        </div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link2" href="servicios" role="tab">SERVICIOS</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          NOVEDADES
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="normativas">NORMATIVAS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="videos">VIDEOS</a>
			        </div>
			      </li>
<!-- 			      <li class="nav-item">
			        <a class="nav-link2" href="herramienta-empresarial" role="tab">BLOG</a>
			      </li> -->
			      <li class="nav-item">
			        <a class="nav-link2" href="vcontacto" role="tab">CONTÁCTENOS</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</div>
</div>
  	<!-- ***************************************** INICIO ********************************** -->
  	<!-- SLIDER -->
<div class="container-fluid sticky">
	<div class="row d-flex justify-content-center">
		<div id="said-slider" class="carousel slide carousel-fade" data-ride="carousel">
		  <ul class="carousel-indicators">
		    <li data-target="#said-slider" data-slide-to="0" class="active"></li>
		    <li data-target="#said-slider" data-slide-to="1"></li>
		    <li data-target="#said-slider" data-slide-to="2"></li>
		  </ul>
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img src="assets/images/slides/1.png" class="img-fluid">
		      	<div class="carousel-caption img-flex">
		      		<img src="assets/images/logo1.png" alt="" style="width: 40%">
		      	</div>
		      	<div class="carousel-caption flex-caption">
		        	<p style="font-weight: bold; margin-bottom: 0;"><span>¡MÁS QUE UN AHORRO,</span><span style="color: #2652e3;"> SOMOS UNA INVERSIÓN!</span></p>
		      	</div>   
		    </div>
<!-- 		    <div class="carousel-item">
		      <img src="assets/images/slides/2.png" class="img-fluid">
		      <div class="carousel-caption flex-caption">
		        <h3>IDENTIFICACIÓN</h3>
		        <p>Hacemos nuestro su problema, y no descansamos hasta encontrarle la mejor solución.</p>
		      </div>   
		    </div>
		    <div class="carousel-item">
		      <img src="assets/images/slides/3.png" class="img-fluid">
		      <div class="carousel-caption flex-caption">
		        <h3>MÁS QUE UN AHORRO SOMOS UNA INVERSIÓN</h3>
		        <p>Nos dedicamos 100% a nuestros clientes.</p>
		      </div>   
		    </div> -->
		  </div>
		  <a class="carousel-control-prev" href="#said-slider" data-slide="prev">
		    <span class="carousel-control-prev-icon"></span>
		  </a>
		  <a class="carousel-control-next" href="#said-slider" data-slide="next">
		    <span class="carousel-control-next-icon"></span>
		  </a>
		</div>
	</div>
</div>
	<!-- *** -->
<div class="container mt-3 pt-3">
	<div class="row">
		<div class="col-sm-4 box-materia">
			<div class="img-materia"><img src="assets/images/extras/legal.png" alt="" class="img-responsive img-reduce"></div>
			<div>
				<span class="box-subtitle">MATERIA LEGAL</span>
				<span><a href="legal">+ más información</a></span>
			</div>
		</div>
		<div class="col-sm-4 box-materia">
			<div class="img-materia"><img src="assets/images/extras/tributaria.png" alt="" class="img-responsive img-reduce"></div>
			<div>
				<span class="box-subtitle">MATERIA TRIBUTARIA</span>
				<span><a href="tributaria">+ más información</a></span>
			</div>
		</div>
		<div class="col-sm-4 box-materia">
			<div class="img-materia"><img src="assets/images/extras/contable.png" alt="" class="img-responsive img-reduce"></div>
			<div>
				<span class="box-subtitle">MATERIA CONTABLE</span>
				<span><a href="contable">+ más información</a></span>
			</div>
		</div>
		<div class="col-sm-4 box-materia">
			<div class="img-materia"><img src="assets/images/extras/organizacional.png" alt="" class="img-responsive img-reduce"></div>
			<div>
				<span class="box-subtitle">MATERIA ORGANIZACIONAL</span>
				<span><a href="organizacional">+ más información</a></span>
			</div>
		</div>
		<div class="col-sm-4 box-materia">
			<div class="img-materia"><img src="assets/images/extras/comunicaciones.png" alt="" class="img-responsive img-reduce"></div>
			<div>
				<span class="box-subtitle">MATERIA DE COMUNICACIONES</span>
				<span><a href="comunicaciones">+ más información</a></span>
			</div>
		</div>
		<div class="col-sm-4 box-materia">
			<div class="img-materia"><img src="assets/images/extras/capacitaciones.png" alt="" class="img-responsive img-reduce"></div>
			<div>
				<span class="box-subtitle">MATERIA CAPACITACIONES</span>
				<span><a href="capacitaciones">+ más información</a></span>
			</div>
		</div>
<!-- 		<div class="col-sm-4 offset-sm-4 box-materia">
			<div class="img-materia"><img src="assets/images/extras/administrativo.png" alt="" class="img-responsive img-reduce"></div>
			<div>
				<span class="box-subtitle">GESTIÓN ADMINISTRATIVA</span>
				<span><a href="">+ más información</a></span>
			</div>
		</div> -->
	</div>
</div>

<div class="container-fluid mt-3 pt-3" style="background-color: #686868;">
	<div class="container" style="color: #fff; padding-top: 65px; padding-bottom: 65px;">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-5 mb-3 text-justify">
				Déjenos sus datos y nos comunicaremos con usted para absolver sus dudas y plantearle una asesoría acorde a su empresa.
			</div>
			<div class="col-sm-4 text-center">
				<a class="btn btn-outline-light btn-lg" href="vcontacto" role="button">Contáctenos</a>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</div>

<div class="container mt-3 pt-3">
	<span class="box-subtitle">Clientes</span>
	<div class="row">
		<div class="col-sm-12">
			<div id="slider-client">
				<div class="c">
					<img src="assets/images/galeria/clientes/granja_linda.png" alt="" class="img-responsive" style="width: 90%">
			    </div>
				<div class="c">
					<img src="assets/images/galeria/clientes/acaf.png" alt="" class="img-responsive" style="width: 90%">
				</div>
				<div class="c">
					<img src="assets/images/galeria/clientes/grupotany.png" alt="" class="img-responsive" style="width: 90%">
				</div>
				<div class="c">
					<img src="assets/images/galeria/clientes/hotelmarbella.png" alt="" class="img-responsive" style="width: 90%">
				</div>
				<div class="c">
					<img src="assets/images/galeria/clientes/rapt.png" alt="" class="img-responsive" style="width: 90%">
				</div>
				<div class="c">
					<img src="assets/images/galeria/clientes/lauya.png" alt="" class="img-responsive" style="width: 90%">
				</div>
				<div class="c">
					<img src="assets/images/galeria/clientes/iavet.png" alt="" class="img-responsive" style="width: 90%">
				</div>
				<div class="c">
					<img src="assets/images/galeria/clientes/comet.png" alt="" class="img-responsive" style="width: 90%">
				</div>
				<div class="c">
					<img src="assets/images/galeria/clientes/contreras.png" alt="" class="img-responsive" style="width: 90%">
				</div>
				<div class="c">
					<img src="assets/images/galeria/clientes/elparrillero.png" alt="" class="img-responsive" style="width: 90%">
				</div>
				<div class="c">
					<img src="assets/images/galeria/clientes/procasa.png" alt="" class="img-responsive" style="width: 90%">
				</div>
				<div class="c">
					<img src="assets/images/galeria/clientes/sermarpesca.png" alt="" class="img-responsive" style="width: 90%">
				</div>
				<div class="c">
					<img src="assets/images/galeria/clientes/segemind.png" alt="" class="img-responsive" style="width: 90%">
				</div>
			</div>	
		</div>
	</div>
</div> <br><br><br>	