<div class="menu">
	<div class="header-menu-full">
		<div class="container">
			<div id="header-menu" class="row text-center">
			    <div class="col-sm-4">
			      <i class="icon-phone"></i> (043) 468359 | 982364932
			    </div>
			    <div class="col-sm-4">
			      <i class="icon-envelope"></i> informes@saidcorp.pe
			    </div>
			    <div class="col-sm-4">
			      	<a href="https://www.facebook.com/saidcorp.pe"><img src="assets/images/extras/icon-fb.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-twitter.png" alt="" class="img-responsive img-reduce"> -->
					<a href="https://www.youtube.com/channel/UC8tbkfKBG6BxVIWHLwmAOuA"><img src="assets/images/extras/icon-youtube.png" alt="" class="img-responsive img-reduce"></a>
					<a href="https://www.instagram.com/saidcorp.oficial"><img src="assets/images/extras/icon-instagram.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-whatsapp.png" alt="" class="img-responsive img-reduce"> -->
					<!-- <a href="https://www.linkedin.com/in/said-asesores-corporativos-3b9079173/"><img src="assets/images/extras/icon-linkendin.png" alt="" class="img-responsive img-reduce"></a> -->
			    </div>
		  	</div>
		</div>
	</div>
	<div class="body-menu-full">
		<div class="container">
		    <nav class="navbar navbar-expand-lg navbar-light ">
			  <a class="navbar-brand" href="inicio">
			  	<span class="logo-normal"><img src="assets/images/logo1.png" class="d-inline-block align-top img-logo"></span>
			    <span class="logo-navidad"><img src="assets/images/logo1-navidad.png" class="d-inline-block align-top img-logo"></span>
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			    <ul class="nav navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link2" href="inicio" role="tab">INICIO</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          QUIENES SOMOS
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="nosotros">NOSOTROS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="equipo">EQUIPO</a>
			        </div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link2 active show" href="servicios" role="tab">SERVICIOS</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          NOVEDADES
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="normativas">NORMATIVAS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="videos">VIDEOS</a>
			        </div>
			      </li>
<!-- 			      <li class="nav-item">
			        <a class="nav-link2" href="herramienta-empresarial" role="tab">BLOG</a>
			      </li> -->
			      <li class="nav-item">
			        <a class="nav-link2" href="vcontacto" role="tab">CONTÁCTENOS</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</div>
</div>
<!-- *************************************** M laboral ********************************* -->
<div class="container sticky">
	<ul class="breadcrumb"></ul>
	<div class="row">
		<div class="col-sm-9">
			<div class="service">
				<img src="assets/images/galeria/servicios/top_legal.png" alt="">
				<div class="title-service lead">
					<p>Materia</p>
					<p>Laboral</p>
				</div>
			</div>	
	        <div class="row">
	        	<div class="col-sm-12">
	        		<h4><span class="badge badge-info">Laboral</span></h4>
	        		<div class="body-service text-left">
	        			<p>Laboral Preventivo <a class="" data-toggle="collapse" href="#L1" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="L1">
						  <div class="card card-body" style="font-size: 12px;">
						    <p> - Elaboración, capacitación, implementación, revisión y control de RIT.</p>
							<p> - Verificaciones laborales preventidas: Legajo de personal, Registros de asistencia, Descansos vacacionales, Boletas de pago de remuneraciones, Liquidación de beneficios sociales</p>
							<p> - Charlas de capacitación y sensibilización laboral.</p>
							<p> - Elaboración, capacitación, implementación, revisión y control de contratos de trabajo y documentos adicionales.</p>
							<p> - Elaboración, capacitación y seguimiento de comunicaciones laborales: en procedimientos sancionadores, descuentos, autorizaciones y licencias.</p>
							<p> - Análisis, formalización, seguimiento y control en la contratación de trabajadores extranjeros.</p>
							<p> - Análisis y ejecución de desvinculaciones laborales.</p>
							<p> - Absolución de consultas en materia laboral.</p>
							<p> - Elaboración de informes legales en materia laboral.</p>
							<p> - Capacitación en asuntos laborales.</p>
							<p> - Elaboración y seguimiento de consultas legales en materia laboral, a entidades públicas y/o privadas.</p>
						  </div>
						</div>
	        			<p>Laboral Administrativo <a class="" data-toggle="collapse" href="#L2" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="L2">
						  <div class="card card-body" style="font-size: 12px;">
							<p> - Análisis y afiliación al REMYPE y SIS.</p>
							<p> - Análisis y elaboración de descargos de liquidaciones previas del SPP.</p>
							<p> - Procedimiento de devolución de AFP.</p>
							<p> - Procedimientos de desafiliación de AFP.</p>
							<p> - Búsqueda, evaluación y presentación de proveedores de servicios laborales.</p>
							<p> - Trámites e impugnaciones ante EsSalud: Acreditaciones, Subsidios, Fraccionamientos, Descargos, Asistencia</p>
							<p> - Trámites e impugnaciones ante el MINTRA, Sunafil y Migraciones.</p>
							<p> - Trámites ante Migraciones y cualquier entidad pública y/o privada relacionados con asuntos laborales.</p>
							<p> - Verificación y asesoría en procedimientos de inspecciones laborales</p>
						  </div>
						</div>
	        			<p>Control de Planilla <a class="" data-toggle="collapse" href="#L3" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="L3">
						  <div class="card card-body" style="font-size: 12px;">
							<p>	- Alta, baja, modificaciones del T - Registro.</p>
							<p>	- Elaboración y presentación del PLAME.</p>
							<p>	- Cálculo y pago de tributos laborales.</p>
							<p>	- Elaboración y entrega de boletas de pago.</p>
							<p>	- Afiliación, elaboración, declaración y pago de AFP.</p>
							<p>	- Liquidaciones de beneficios sociales.</p>
							<p>	- Implementación, mantenimiento y control de legajos de personal.</p>
							<p>	- Comunicaciones de mero trámite en vacaciones, movimientos de personal, temas operativos.</p>
							<p>	- Control de vacaciones.</p>
							<p>	- Apertura de cuentas bancarias a trabajadores.</p>
							<p>	- Control de venciminetos de contratos.</p>

						  </div>
						</div>
	        			<p>Tributario Laboral</p>
	        			<p>Judicial Laboral</p>
	        		</div>
	        	</div>
	        	<div class="col-sm-12">
	        		<h4><span class="badge badge-info">Societario</span></h4>
	        	</div>
	        	<div class="col-sm-12">
	        		<h4><span class="badge badge-info">Administrativo</span></h4>
	        	</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card bg-light card-sticky" style="width: 18rem;">
			  <img class="card-img-top" src="assets/images/11.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title text-center">¿Como podemos ayudarte?</h5>
			    <p class="card-text text-justify">Estamos para resolver tus dudas y adecuarnos a tus necesidades.</p>
			    <a href="#" class="btn btn-primary">Contáctenos</a>
			  </div>
			</div>
		</div>
	</div>
	<br>
</div>

<!-- Modal Legal -->
<div class="modal fade" id="materialegal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Materia Legal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row text-center">
        	<div class="col-sm-4">
        		<h4><span class="badge badge-info">Laboral</span></h4>
        		<div class="body-service text-left">
        			<p>Laboral Preventivo <a class="" data-toggle="collapse" href="#L1" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
        			<div class="collapse" id="L1">
					  <div class="card card-body" style="font-size: 12px;">
					    <p> - Elaboración, capacitación, implementación, revisión y control de RIT.</p>
						<p> - Verificaciones laborales preventidas: Legajo de personal, Registros de asistencia, Descansos vacacionales, Boletas de pago de remuneraciones, Liquidación de beneficios sociales</p>
						<p> - Charlas de capacitación y sensibilización laboral.</p>
						<p> - Elaboración, capacitación, implementación, revisión y control de contratos de trabajo y documentos adicionales.</p>
						<p> - Elaboración, capacitación y seguimiento de comunicaciones laborales: en procedimientos sancionadores, descuentos, autorizaciones y licencias.</p>
						<p> - Análisis, formalización, seguimiento y control en la contratación de trabajadores extranjeros.</p>
						<p> - Análisis y ejecución de desvinculaciones laborales.</p>
						<p> - Absolución de consultas en materia laboral.</p>
						<p> - Elaboración de informes legales en materia laboral.</p>
						<p> - Capacitación en asuntos laborales.</p>
						<p> - Elaboración y seguimiento de consultas legales en materia laboral, a entidades públicas y/o privadas.</p>
					  </div>
					</div>
        			<p>Laboral Administrativo <a class="" data-toggle="collapse" href="#L2" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
        			<div class="collapse" id="L2">
					  <div class="card card-body" style="font-size: 12px;">
						<p> - Análisis y afiliación al REMYPE y SIS.</p>
						<p> - Análisis y elaboración de descargos de liquidaciones previas del SPP.</p>
						<p> - Procedimiento de devolución de AFP.</p>
						<p> - Procedimientos de desafiliación de AFP.</p>
						<p> - Búsqueda, evaluación y presentación de proveedores de servicios laborales.</p>
						<p> - Trámites e impugnaciones ante EsSalud: Acreditaciones, Subsidios, Fraccionamientos, Descargos, Asistencia</p>
						<p> - Trámites e impugnaciones ante el MINTRA, Sunafil y Migraciones.</p>
						<p> - Trámites ante Migraciones y cualquier entidad pública y/o privada relacionados con asuntos laborales.</p>
						<p> - Verificación y asesoría en procedimientos de inspecciones laborales</p>
					  </div>
					</div>
        			<p>Control de Planilla <a class="" data-toggle="collapse" href="#L3" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
        			<div class="collapse" id="L3">
					  <div class="card card-body" style="font-size: 12px;">
						<p>	- Alta, baja, modificaciones del T - Registro.</p>
						<p>	- Elaboración y presentación del PLAME.</p>
						<p>	- Cálculo y pago de tributos laborales.</p>
						<p>	- Elaboración y entrega de boletas de pago.</p>
						<p>	- Afiliación, elaboración, declaración y pago de AFP.</p>
						<p>	- Liquidaciones de beneficios sociales.</p>
						<p>	- Implementación, mantenimiento y control de legajos de personal.</p>
						<p>	- Comunicaciones de mero trámite en vacaciones, movimientos de personal, temas operativos.</p>
						<p>	- Control de vacaciones.</p>
						<p>	- Apertura de cuentas bancarias a trabajadores.</p>
						<p>	- Control de venciminetos de contratos.</p>

					  </div>
					</div>
        			<p>Tributario Laboral</p>
        			<p>Judicial Laboral</p>
        		</div>
        	</div>
        	<div class="col-sm-4">
        		<h4><span class="badge badge-info">Societario</span></h4>
        	</div>
        	<div class="col-sm-4">
        		<h4><span class="badge badge-info">Administrativo</span></h4>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>