<div class="menu">
	<div class="header-menu-full">
		<div class="container">
			<div id="header-menu" class="row text-center">
			    <div class="col-sm-4">
			      <i class="icon-phone"></i> (043) 468359 | 982364932
			    </div>
			    <div class="col-sm-4">
			      <i class="icon-envelope"></i> informes@saidcorp.pe
			    </div>
			    <div class="col-sm-4">
			      	<a href="https://www.facebook.com/saidcorp.pe"><img src="assets/images/extras/icon-fb.png" target="_blank" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-twitter.png" alt="" class="img-responsive img-reduce"> -->
					<a href="https://www.youtube.com/channel/UC8tbkfKBG6BxVIWHLwmAOuA"><img src="assets/images/extras/icon-youtube.png" target="_blank" alt="" class="img-responsive img-reduce"></a>
					<a href="https://www.instagram.com/saidcorp.oficial"><img src="assets/images/extras/icon-instagram.png" target="_blank" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-whatsapp.png" alt="" class="img-responsive img-reduce"> -->
					<!-- <a href="https://www.linkedin.com/in/said-asesores-corporativos-3b9079173/"><img src="assets/images/extras/icon-linkendin.png" alt="" class="img-responsive img-reduce"></a> -->
			    </div>
		  	</div>
		</div>
	</div>
	<div class="body-menu-full">
		<div class="container">
		    <nav class="navbar navbar-expand-lg navbar-light">
			  <a class="navbar-brand" href="inicio">
			  	<span class="logo-normal"><img src="assets/images/logo1.png" class="d-inline-block align-top img-logo"></span>
			    <span class="logo-navidad"><img src="assets/images/logo1-navidad.png" class="d-inline-block align-top img-logo"></span>
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			    <ul class="nav navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link2" href="inicio" role="tab">INICIO</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          QUIENES SOMOS
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="nosotros">NOSOTROS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="equipo">EQUIPO</a>
			        </div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link2 active show" href="servicios" role="tab">SERVICIOS</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          NOVEDADES
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="normativas">NORMATIVAS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="videos">VIDEOS</a>
			        </div>
			      </li>
<!-- 			      <li class="nav-item">
			        <a class="nav-link2" href="herramienta-empresarial" role="tab">BLOG</a>
			      </li> -->
			      <li class="nav-item">
			        <a class="nav-link2" href="vcontacto" role="tab">CONTÁCTENOS</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</div>
</div>
<!-- *************************************** M laboral ********************************* -->
<div class="container sticky">
	<ul class="breadcrumb"></ul>
	<div class="row">
		<div class="col-lg-9 col-md-12 col-sm-12">
			<div class="service">
				<img src="assets/images/galeria/servicios/top_legal.png" alt="">
				<div class="title-service lead">
					<p>Materia</p>
					<p>Legal</p>
				</div>
			</div>
			<p>Brindamos servicios de asesoría integral desde la constitución de empresas, fusiones, además de consultoría jurídica.</p>
	        <div class="row">
	        	<div class="col-sm-12">
	        		<ul class="breadcrumb"><h4>Laboral</h4></ul>
	        		<div class="body-service text-left pl-2">
	        			<p>Laboral Preventivo <a class="" data-toggle="collapse" href="#L1" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="L1">
						  <div class="card card-body text-justify details-service">
						  	<ul>
						  		<li>Absolución de consultas en materia laboral.</li>
							    <li>Elaboración, capacitación, implementación, revisión y control de RIT.</li>
								<li>Verificaciones laborales preventidas: Legajo de personal, Registros de asistencia, Descansos vacacionales, Boletas de pago de remuneraciones, Liquidación de beneficios sociales</li>
								<li>Charlas de capacitación y sensibilización laboral.</li>
								<li>Elaboración, capacitación, implementación, revisión y control de contratos de trabajo y documentos adicionales.</li>
								<li>Elaboración, capacitación y seguimiento de comunicaciones laborales: en procedimientos sancionadores, descuentos, autorizaciones y licencias.</li>
								<li>Análisis, formalización, seguimiento y control en la contratación de trabajadores extranjeros.</li>
								<li>Análisis y ejecución de desvinculaciones laborales.</li>
								<li>Elaboración de informes legales en materia laboral.</li>
								<li>Capacitación en asuntos laborales.</li>
								<li>Elaboración y seguimiento de consultas legales en materia laboral ante Entidades Públicas y/o Privadas.</li>
							</ul>
						  </div>
						</div>
	        			<p>Laboral Administrativo <a class="" data-toggle="collapse" href="#L2" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="L2">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Análisis y afiliación al REMYPE y SIS.</li>
								<li>Análisis y elaboración de descargos de liquidaciones previas del SPP.</li>
								<li>Procedimiento de devolución de AFP.</li>
								<li>Procedimientos de desafiliación de AFP.</li>
								<li>Búsqueda, evaluación y presentación de proveedores de servicios laborales.</li>
								<li>Trámites e impugnaciones ante EsSalud: Acreditaciones, Subsidios, Fraccionamientos, Descargos, Asistencia</li>
								<li>Trámites e impugnaciones ante el MINTRA, Sunafil y Migraciones.</li>
								<li>Trámites ante Migraciones y cualquier Entidad Pública y/o Privada relacionados con asuntos laborales.</li>
								<li>Verificación y asesoría en Procedimientos de Inspecciones Laborales</li>
							</ul>
						  </div>
						</div>
	        			<p>Tributario Laboral <a class="" data-toggle="collapse" href="#L3" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="L3">
						  <div class="card card-body text-justify details-service">
						  	<ul>
						  		<li>Absolución de consultas en materia de tributos laborales y sistema previcional.</li>
								<li>Verificación preventiva en tributos laborales.</li>
								<li>Verificación del correcto llenado del PLAME y T-Registro.</li>
								<li>Procedimiento de devolución de ONP.</li>
								<li>Verificación de afiliación y pagos al sistema de pensiones.</li>
							</ul>
						  </div>
						</div>
	        			<p>Judicial Laboral <a class="" data-toggle="collapse" href="#L4" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="L4">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Defensa judicial en procesos laborales en calidad de demandados.</li>
								<li>Defensa judicial en procesos contenciosos administrativos laborales.</li>
							</ul>
						  </div>
						</div><br>
	        		</div>
	        	</div>
	        	<div class="col-sm-12">
	        		<ul class="breadcrumb"><h4>Societario</h4></ul>
	        		<div class="body-service text-left pl-2">
	        			<p>Legal <a class="" data-toggle="collapse" href="#L5" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="L5">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Elaboración de contratos civiles y comerciales.	</li>
								<li>Llenado y control de libros societarios y no societarios: Libro de matrícula de acciones, Libro de Junta General de Accionistas, Libro de Directorio, Libro de Consejo Directivo, Padrón de asociados , Libro de Asamblea General.	</li>
								<li>Asesoría en asuntos relacionados a propiedad intelectual, derecho de autor y protección al consumidor.	</li>
								<li>Absolución de consultas legales en materia empresarial.	</li>
								<li>Constitución, reorganización y extinción de Personas Jurídicas.	</li>
								<li>Elaboración de informes legales en materia empresarial.	</li>
							</ul>
						  </div>
						</div><br>
					</div>
	        	</div>
	        	<div class="col-sm-12">
	        		<ul class="breadcrumb"><h4>Administrativo</h4></ul>
	        		<div class="body-service text-left pl-2">
	        			<p>Gestión Administrativa <a class="" data-toggle="collapse" href="#L6" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="L6">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Trámites y seguimiento ante SUNARP.</li>
								<li>Trámites  y seguimiento ante notarías.</li>
								<li>Trámites  y seguimiento ante Municipalidades.</li>
								<li>Trámites  y seguimiento ante empresas prestadoras de servicios públicos.</li>
								<li>Trámites  y seguimiento ante Entidades Financieras.</li>
								<li>Trámites y seguimiento ante RENIEC.</li>
							</ul>
						  </div>
						</div><br>
					</div>
	        	</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card text-center bg-light card-sticky">
			  <img class="card-img-top" src="assets/images/11.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title text-center">¿Cómo podemos ayudarte?</h5>
			    <p class="card-text text-justify">Estamos para absolver tus dudas y adecuarnos a tus necesidades.</p>
			    <a href="vcontacto" class="btn btn-primary">Contáctenos</a>
			  </div>
			</div>
		</div>
	</div>
	<br>
</div>