<div class="menu">
	<div class="header-menu-full">
		<div class="container">
			<div id="header-menu" class="row text-center">
			    <div class="col-sm-4">
			      <i class="icon-phone"></i> (043) 468359 | 982364932
			    </div>
			    <div class="col-sm-4">
			      <i class="icon-envelope"></i> informes@saidcorp.pe
			    </div>
			    <div class="col-sm-4">
			      	<a href="https://www.facebook.com/saidcorp.pe" target="_blank"><img src="assets/images/extras/icon-fb.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-twitter.png" alt="" class="img-responsive img-reduce"> -->
					<a href="https://www.youtube.com/channel/UC8tbkfKBG6BxVIWHLwmAOuA" target="_blank"><img src="assets/images/extras/icon-youtube.png"alt="" class="img-responsive img-reduce"></a>
					<a href="https://www.instagram.com/saidcorp.oficial" target="_blank"><img src="assets/images/extras/icon-instagram.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-whatsapp.png" alt="" class="img-responsive img-reduce"> -->
					<!-- <a href="https://www.linkedin.com/in/said-asesores-corporativos-3b9079173/"><img src="assets/images/extras/icon-linkendin.png" alt="" class="img-responsive img-reduce"></a> -->
			    </div>
		  	</div>
		</div>
	</div>
	<div class="body-menu-full">
		<div class="container">
		    <nav class="navbar navbar-expand-lg">
			  <a class="navbar-brand" href="inicio">
			  	<span class="logo-normal"><img src="assets/images/logo1.png" class="d-inline-block align-top img-logo"></span>
			    <span class="logo-navidad"><img src="assets/images/logo1-navidad.png" class="d-inline-block align-top img-logo"></span>
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			    <ul class="nav navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link2" href="inicio" role="tab">INICIO</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle active show" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          QUIENES SOMOS
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white active show" href="nosotros">NOSOTROS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="equipo">EQUIPO</a>
			        </div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link2" href="servicios" role="tab">SERVICIOS</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          NOVEDADES
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="normativas">NORMATIVAS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="videos">VIDEOS</a>
			        </div>
			      </li>
<!-- 			      <li class="nav-item">
			        <a class="nav-link2" href="herramienta-empresarial" role="tab">BLOG</a>
			      </li> -->
			      <li class="nav-item">
			        <a class="nav-link2" href="vcontacto" role="tab">CONTÁCTENOS</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</div>
</div>
		<!-- **************************************** NOSOTROS ********************************* -->
<div class="container sticky">
	<ul class="breadcrumb mb-5"></ul>
  	<div class="row">
		<div class="col-lg-3">
		    <div class="nav" id="v-pills-tab" role="tablist" >
				<a class="nav-link mb-3 active" id="v-pills-home-tab" data-toggle="pill" href="#quienes-somos" role="tab" aria-controls="v-pills-home" aria-selected="true">
					<i class="icon-group icon-cuadro"></i>
					<p class="text-cuadro"> ¿Quiénes somos?</p>
				</a>
		      	<a class="nav-link mb-3" id="v-pills-profile-tab" data-toggle="pill" href="#proposito" role="tab" aria-controls="v-pills-profile" aria-selected="false">
		      		<i class="icon-road icon-cuadro"></i>
		      		<p class="text-cuadro"> Propósito</p>
		      	</a>
		      	<a class="nav-link mb-3" id="v-pills-profile-tab" data-toggle="pill" href="#mision-vision" role="tab" aria-controls="v-pills-profile" aria-selected="false">
		      		<i class="icon-gavel icon-cuadro"></i>
		      		<p class="text-cuadro"> Misión y Visión</p>
		      	</a>
		      	<a class="nav-link mb-3" id="v-pills-messages-tab" data-toggle="pill" href="#valores" role="tab" aria-controls="v-pills-messages" aria-selected="false">
		      		<i class="icon-handshake-o icon-cuadro"></i>
		      		<p class="text-cuadro">Valores</p>
		      	</a>
		      	<a class="nav-link mb-3" id="v-pills-messages-tab" data-toggle="pill" href="#mandamientos" role="tab" aria-controls="v-pills-messages" aria-selected="false">
		      		<i class="icon-leanpub icon-cuadro"></i> 
		      		<p class="text-cuadro">  Mandamientos</p>
		      	</a>
		      	<a class="nav-link mb-3" id="v-pills-messages-tab" data-toggle="pill" href="#historia" role="tab" aria-controls="v-pills-messages" aria-selected="false">
		      		<i class="icon-book icon-cuadro"></i>
		      		<p class="text-cuadro">  Historia</p>
		      	</a>
		    </div>
		</div>
		<div class="col-lg-9">
		    <div class="tab-content" id="v-pills-tabContent">
			<!-- **********************************************¿Quiénes somos?********************************************** -->
			    <div class="tab-pane fade show active" id="quienes-somos" role="tabpanel" aria-labelledby="v-pills-home-tab">
			      	<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-12">
								<h3 class="text-center mb-4">¿Quiénes somos?</h3>
									<p class="lead text-justify">
										Somos una empresa chimbotana con más de tres años  de experiencia y presencia continua en el mercado de asesoría corporativa en materia tributaria, contable, empresarial, laboral y administrativa. Somos diligentes y nos adelantamos a los problemas que su empresa pueda tener.
										<br><br>
										Contamos con clientes de éxito, lo que nos incentiva a consolidarnos para ofrecerles nuestro mejor servicio de asesoría y asistencia para su empresa. Nuestro asesoramiento consiste en los siguientes conceptos: calidad humana, servicio integral, identificación con el cliente, organización, honestidad y compromiso.
									</p>
							</div>
						</div>
						<!-- divider -->
						<hr>
						<!-- end divider -->
						<div class="row">
							<div class="col-lg-12">
								<img src="assets/images/galeria/n1.png" alt="Miembros del equipo, que trabajan con la finalidad de influir en la persona y con el propósito de contribuir a la sociedad." style="width: 100%" >
							</div>
						</div>
						<!-- divider -->
						<div class="row">
							<div class="col-lg-12">
								<div class="solidline">
								</div>
							</div>
						</div>
						<!-- end divider -->
						<div class="row">
							<div class="col-lg-12">
								<h2>Fundador</h2>
							</div>
							<div class="col-lg-3">
							</div>
							<div class="col-lg-6">
									<img src="assets/images/galeria/n2.png" alt="Miembros del equipo, que trabajan con la finalidad de influir en la persona y con el propósito de contribuir a la sociedad." style="width: 100%;">
								<div style="text-align: center;"><h4>Dr. Said G. Trujillo Ripamontti</h4></div>
							</div>
							<div class="col-lg-3">
							</div>
						</div>
					</div>
			    </div>
			<!-- ********************************************** Propósito ********************************************** -->
			    <div class="tab-pane fade" id="proposito" role="tabpanel" aria-labelledby="v-pills-profile-tab">
		      		<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-12 lead">
								<div class="proposito">
									<img src="assets/images/galeria/n3.png" alt="sample99" />
								  <div class="txt-proposito">
								    <h3>Propósito</h3>
								    <p>Influir en las personas y cooperar en su desarrollo y crecimiento.</p>
								  </div>
								</div>
							</div>
						</div>
					</div>
			    </div>
			<!-- ********************************************** Misión y Vision ********************************************** -->
			    <div class="tab-pane fade" id="mision-vision" role="tabpanel" aria-labelledby="v-pills-profile-tab">
		      		<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-5 lead text-justify mb-3">
								<div class="vime vime-sky">
									<div class="title-vime">
										Misión
									</div>
									<div class="body-vime">
										Brindar servicios de prevención y consultoría para el crecimiento y consolidación de las empresas.
									</div>
								</div>
							</div>
							<div class="col-lg-1 text-center line-vertical"></div>
							<div class="col-lg-1 text-center line-vertical" style="border-left:6px solid rgb(0, 182, 231);height:380px;"></div>
							<div class="col-lg-5 lead text-justify mb-3">
								<div class="vime vime-green">
									<div class="title-vime">
										Visión
									</div>
									<div class="body-vime">
										Ser el mejor socio estratégico de los empresarios del Perú; y lograr el desarrollo de la persona humana.
									</div>
								</div>
							</div>
						</div>
					</div>
			    </div>
			<!-- **************************************************Valores***************************************************** -->
			    <div class="tab-pane fade" id="valores" role="tabpanel" aria-labelledby="v-pills-messages-tab">
					<div class="row">
						<div class="col-lg-12">
							<h3>Valores</h3>
							<div class="row">
								<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
									<div class="valores">
										<img src="assets/images/galeria/calidad.png" alt="">
										<div class="title-valores">
											Calidad Humana
										</div>
										<div class="body-valores">
											Lo importante y lo urgente es la persona.
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
									<div class="valores">
										<img src="assets/images/galeria/servicio.png" alt="">
										<div class="title-valores">
											Servicio
										</div>
										<div class="body-valores">
											Estamos para servir; ser el socio lazarillo.
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
									<div class="valores">
										<img src="assets/images/galeria/puntualidad.png" alt="">
										<div class="title-valores">
											Puntualidad
										</div>
										<div class="body-valores">
											Lo que se ofrece se cumple.
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
									<div class="valores">
										<img src="assets/images/galeria/honestidad.png" alt="">
										<div class="title-valores">
											Honestidad
										</div>
										<div class="body-valores">
											Las cuentas siempre son claras.
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center mb-3">
									<div class="valores">
										<img src="assets/images/galeria/compromiso.png" alt="">
										<div class="title-valores">
											Compromiso
										</div>
										<div class="body-valores">
											Hacemos nuestro sus sueños, metas y objetivos.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			    </div>
			<!-- ********************************************** Mandamientos ********************************************** -->
			    <div class="tab-pane fade" id="mandamientos" role="tabpanel" aria-labelledby="v-pills-profile-tab">
					<div class="row">
						<div class="col-sm-6 lead">
							<h4>Mandamientos</h4><br>
							<p>1. No somos monos, somos naranjitas.</p>
							<p>2. Somos solución, no somos problema.</p>
							<p>3. Es mejor hacerlo y equivocarse, que no hacerlo.</p>
							<p>4. Lo que no sabemos lo investigamos.</p>
							<p>5. "No se puede", "Nunca", y/o cualquier tipo de negación está proscrita del equipo.</p>
						</div>
						<div class="col-sm-6">
							<div>
								<img src="assets/images/galeria/mandamientos.png" alt="" style="width: 100%;">
							</div>
						</div>
					</div>
			    </div>
			<!-- ********************************************** Historia ********************************************** -->
			    <div class="tab-pane fade" id="historia" role="tabpanel" aria-labelledby="v-pills-profile-tab">
		      		<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-12 lead text-justify escudo">
								<h3>Historia</h3>
								<p>Said Asesores Corporativos es una empresa que brinda asesoría y consultoría empresarial, en materia tributaria, contable, laboral, administrativa, entre otros.  Nace en julio de 2014 de la experiencia y emprendimiento de sus socios fundadores, el Dr. Said Trujillo Ripamontti y el Dr. Jhon Quineche Miranda, con la visión de contribuir en la sociedad y ser una de las grandes empresas de asesoría y consultoría a nivel nacional.</p>
								<p>Desde sus inicios, la empresa contó con el respaldo y confianza del público, logrando en poco tiempo trasladarse de sus oficinas del Colegio de Contadores Públicos de Áncash a sus actuales instalaciones ubicadas en Jirón Enrique Palacios nro. 120, a unos metros de la Plaza de Armas de Chimbote, brindando una mejor atención.</p>
								<p>Al tiempo de posicionarse como una empresa sólida, los pilares que fundaron Said Asesores Corporativos enrumbaron caminos distintos. Por ello, el Dr. Said Trujillo Ripamontti decidió apoyarse en sus jóvenes y talentosos colaboradores, H. Elio Villanueva, Ana M. Miranda y Arnold E. Rodríguez, convirtiéndolos en los nuevos socios de la empresa.</p>
								<p>Actualmente Said Asesores Corporativos ha ampliado sus servicios, implementando el departamento de capacitaciones y comunicaciones con el objetivo de apoyar la logística de sus clientes.</p>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
	</div>
</div>