<div class="menu">
	<div class="header-menu-full">
		<div class="container">
			<div id="header-menu" class="row text-center">
			    <div class="col-sm-4">
			      <i class="icon-phone"></i> (043) 468359 | 982364932
			    </div>
			    <div class="col-sm-4">
			      <i class="icon-envelope"></i> informes@saidcorp.pe
			    </div>
			    <div class="col-sm-4">
			      	<a href="https://www.facebook.com/saidcorp.pe"><img src="assets/images/extras/icon-fb.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-twitter.png" alt="" class="img-responsive img-reduce"> -->
					<a href="https://www.youtube.com/channel/UC8tbkfKBG6BxVIWHLwmAOuA"><img src="assets/images/extras/icon-youtube.png" alt="" class="img-responsive img-reduce"></a>
					<a href="https://www.instagram.com/saidcorp.oficial"><img src="assets/images/extras/icon-instagram.png" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-whatsapp.png" alt="" class="img-responsive img-reduce"> -->
					<!-- <a href="https://www.linkedin.com/in/said-asesores-corporativos-3b9079173/"><img src="assets/images/extras/icon-linkendin.png" alt="" class="img-responsive img-reduce"></a> -->
			    </div>
		  	</div>
		</div>
	</div>
	<div class="body-menu-full">
		<div class="container">
		    <nav class="navbar navbar-expand-lg navbar-light ">
			  <a class="navbar-brand" href="inicio">
			  	<span class="logo-normal"><img src="assets/images/logo1.png" class="d-inline-block align-top img-logo"></span>
			    <span class="logo-navidad"><img src="assets/images/logo1-navidad.png" class="d-inline-block align-top img-logo"></span>
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			    <ul class="nav navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link2" href="inicio" role="tab">INICIO</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          QUIENES SOMOS
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="nosotros">NOSOTROS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="equipo">EQUIPO</a>
			        </div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link2 active show" href="servicios" role="tab">SERVICIOS</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          NOVEDADES
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="normativas">NORMATIVAS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="videos">VIDEOS</a>
			        </div>
			      </li>
<!-- 			      <li class="nav-item">
			        <a class="nav-link2" href="herramienta-empresarial" role="tab">BLOG</a>
			      </li> -->
			      <li class="nav-item">
			        <a class="nav-link2" href="vcontacto" role="tab">CONTÁCTENOS</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</div>
</div>
<!-- *************************************** SERVICIOS ********************************* -->
<div class="container sticky">
	<ul class="breadcrumb"></ul>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center">Nuestros Servicios</h2>
			<br>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
				  	<div class="div-img" >
				    	<img class="img mb-2" src="assets/images/galeria/servicios/s_legal.png" title="Materia Legal" alt="Materia Legal">
				    	<div class="text">
					    	<h5>MATERIA LEGAL</h5>
				  		</div>
				  		<div class="text-description">Brindamos servicios de asesoría integral desde la constitución de empresas, fusiones, además de consultoría jurídica. <br><br>
							<a href="legal" class="btn btn-outline-primary">Leer más</a>
					    </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
				  	<div class="div-img" >
				    	<img class="img mb-2" src="assets/images/galeria/servicios/s_tributaria.png" title="Materia Tributaria" alt="Materia Tributaria">
				    	<div class="text">
					    	<h5>MATERIA TRIBUTARIA</h5>
				  		</div>
				  		<div class="text-description">Brindamos servicios de asesoría integral desde la constitución de empresas, fusiones, además de consultoría jurídica. <br><br>
							<a href="tributaria" class="btn btn-outline-primary">Leer más</a>
					    </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
				  	<div class="div-img" >
				    	<img class="img mb-2" src="assets/images/galeria/servicios/s_contable.png" title="Materia Contable" alt="Materia Contable">
				    	<div class="text">
					    	<h5>MATERIA CONTABLE</h5>
				  		</div>
				  		<div class="text-description">Administramos la contabilidad y las planillas de empresas con eficiencia en las modalidades InHouse y Outsourcing. <br><br>
							<a href="contable" class="btn btn-outline-primary">Leer más</a>
					    </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
				  	<div class="div-img" >
				    	<img class="img mb-2" src="assets/images/galeria/servicios/s_organizacional.png" title="Materia Organizacional" alt="Materia Organizacional">
				    	<div class="text">
					    	<h5>MATERIA ORGANIZACIONAL</h5>
				  		</div>
				  		<div class="text-description">Nos centramos en el desarrollo humano y productivo, a través de instrumentos de Gestión adecuados para tu empresa. <br><br>
							<a href="organizacional" class="btn btn-outline-primary">Leer más</a>
					    </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
				  	<div class="div-img" >
				    	<img class="img mb-2" src="assets/images/galeria/servicios/s_comunicaciones.png" title="Materia de Comunicaciones" alt="Materia de Comunicaciones">
				    	<div class="text">
					    	<h5>MATERIA DE COMUNICACIONES</h5>
				  		</div>
				  		<div class="text-description">Usamos estrategias y tecnicas para la difusión y posicionamiento de la imagen corporativa, diseño e implementación de la identidad gráfica. <br><br>
							<a href="comunicaciones" class="btn btn-outline-primary">Leer más</a>
					    </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
				  	<div class="div-img" >
				    	<img class="img mb-2" src="assets/images/galeria/servicios/s_capacitaciones.png" title="Materia de Capacitaciones" alt="Materia de Capacitaciones">
				    	<div class="text">
					    	<h5>MATERIA DE CAPACITACIONES</h5>
				  		</div>
				  		<div class="text-description">Diseñamos e implementamos cursos para fortalecer, perfeccionar y actualizar habilidades específicas. <br><br>
							<a href="capacitaciones" class="btn btn-outline-primary">Leer más</a>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>