<div class="menu">
	<div class="header-menu-full">
		<div class="container">
			<div id="header-menu" class="row text-center">
			    <div class="col-sm-4">
			      <i class="icon-phone"></i> (043) 468359 | 982364932
			    </div>
			    <div class="col-sm-4">
			      <i class="icon-envelope"></i> informes@saidcorp.pe
			    </div>
			    <div class="col-sm-4">
			      	<a href="https://www.facebook.com/saidcorp.pe"><img src="assets/images/extras/icon-fb.png" target="_blank" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-twitter.png" alt="" class="img-responsive img-reduce"> -->
					<a href="https://www.youtube.com/channel/UC8tbkfKBG6BxVIWHLwmAOuA"><img src="assets/images/extras/icon-youtube.png" target="_blank" alt="" class="img-responsive img-reduce"></a>
					<a href="https://www.instagram.com/saidcorp.oficial"><img src="assets/images/extras/icon-instagram.png" target="_blank" alt="" class="img-responsive img-reduce"></a>
					<!-- <img src="assets/images/extras/icon-whatsapp.png" alt="" class="img-responsive img-reduce"> -->
					<!-- <a href="https://www.linkedin.com/in/said-asesores-corporativos-3b9079173/"><img src="assets/images/extras/icon-linkendin.png" alt="" class="img-responsive img-reduce"></a> -->
			    </div>
		  	</div>
		</div>
	</div>
	<div class="body-menu-full">
		<div class="container">
		    <nav class="navbar navbar-expand-lg navbar-light ">
			  <a class="navbar-brand" href="inicio">
			  	<span class="logo-normal"><img src="assets/images/logo1.png" class="d-inline-block align-top img-logo"></span>
			    <span class="logo-navidad"><img src="assets/images/logo1-navidad.png" class="d-inline-block align-top img-logo"></span>
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			    <ul class="nav navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link2" href="inicio" role="tab">INICIO</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          QUIENES SOMOS
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="nosotros">NOSOTROS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="equipo">EQUIPO</a>
			        </div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link2 active show" href="servicios" role="tab">SERVICIOS</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          NOVEDADES
			        </a>
			        <div class="dropdown-menu border border-white" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item sub-link2 border border-white" href="normativas">NORMATIVAS</a>
			          <a class="dropdown-item sub-link2 border border-white" href="videos">VIDEOS</a>
			        </div>
			      </li>
<!-- 			      <li class="nav-item">
			        <a class="nav-link2" href="herramienta-empresarial" role="tab">BLOG</a>
			      </li> -->
			      <li class="nav-item">
			        <a class="nav-link2" href="vcontacto" role="tab">CONTÁCTENOS</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</div>
</div>
<!-- *************************************** M tributaria ********************************* -->
<div class="container sticky">
	<ul class="breadcrumb"></ul>
	<div class="row">
		<div class="col-lg-9 col-md-12 col-sm-12">
			<div class="service">
				<img src="assets/images/galeria/servicios/top_tributario.png" alt="">
				<div class="title-service lead">
					<p>Materia</p>
					<p>Tributaria</p>
				</div>
			</div>
			<p>Nuestra asesoría es preventiva, con la finalidad de evitar cualquier contingencia tributaria.</p>
	        <div class="row">
	        	<div class="col-sm-12">
	        		<ul class="breadcrumb"><h4>Tributaria</h4></ul>
	        		<div class="body-service text-left pl-2">
	        			<p>Tributario Preventivo <a class="" data-toggle="collapse" href="#T1" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="T1">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Absolución de consultas en materia tributaria.</li>
								<li>Elaboración, presentación y seguimiento de consultas legales ante SUNAT.</li>
								<li>Elaboración de informes legales en materia tributaria.</li>
								<li>Verificación de obligaciones formales.</li>
								<li>Auditoria tributaria preventiva.</li>
								<li>Análisis, evaluación e implementación de Planeamiento Tributario.</li>
								<li>Capacitación en asuntos tributarios.</li>
								<li>Revisión y detención de contingencias en la Declaración Jurada Anual.</li>
								<li>Revisión y detención de contingencias en la Declaración Jurada Mensual.</li>
								<li>Análisis de contingencias, propuestas de corrección e implementación de mejoras en la conciliación tributaria.</li>
							</ul>
						  </div>
						</div>
	        			<p>Tributario Administrativo <a class="" data-toggle="collapse" href="#T2" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="T2">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Presentación y seguimiento de Solicitudes de Devolución, Fraccionamiento y  de Prescripción Ordinaria y Coactiva.</li>
								<li>Trámites relacionados al RUC y  la Deuda Tributaria.</li>
								<li>Modificación de datos.</li>
								<li>Boleta de pago con error.</li>
								<li>Reimputaciones.</li>
								<li>Compensaciones.</li>
								<li>Presentación y seguimiento de quejas por defecto de tramitación.</li>
								<li>Trámites relacionados a la Cuenta de Detracciones.</li>
								<li>Presentación y seguimiento de solicitud de bienes comisados.</li> 
								<li>Búsqueda, evaluación y presentación de proveedores relacionados a asuntos tributarios.</li>
							</ul>
						  </div>
						</div>
	        			<p>Contencioso Tributario <a class="" data-toggle="collapse" href="#T3" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="T3">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Estudio, elaboración y seguimiento de Reclamos y Apelación.</li>
								<li>Estudio, elaboración y seguimiento de Quejas de Derecho.</li>
								<li>Estudio, elaboración y seguimiento de Quejas de Cumplimiento.</li>
								<li>Estudio, elaboración, seguimiento y revisión de Recursos de Reconsideración y Apelación (Ley 27444). </li>
							</ul>
						  </div>
						</div>
	        			<p>Auditorias Tributarias <a class="" data-toggle="collapse" href="#T4" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="T4">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Asesoría y atención de Cartas de Invitación.</li>
								<li>Asesoría y atención de Cartas de Inducción.</li>
								<li>Asesoría y atención de Cartas de Verificaciones.</li>
								<li>Asesoría y atención de Cartas de Auditorias Parciales o Definitivas.</li>
							</ul>
						  </div>
						</div>
	        			<p>Litigios Tributarios <a class="" data-toggle="collapse" href="#T5" role="button" aria-expanded="false" aria-controls="collapseExample">+</a></p>
	        			<div class="collapse" id="T5">
						  <div class="card card-body text-justify details-service">
						  	<ul>
								<li>Demanda contenciosa en materia tributaria.</li>
								<li>Interposición de garantías constitucionales en Materia Tributaria.</li>
								<li>Defensa legal en procesos de delitos tributarios.</li>
							</ul>
						  </div>
						</div><br>
	        		</div>
	        	</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="card text-center bg-light card-sticky">
			  <img class="card-img-top" src="assets/images/11.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title text-center">¿Cómo podemos ayudarte?</h5>
			    <p class="card-text text-justify">Estamos para absolver tus dudas y adecuarnos a tus necesidades.</p>
			    <a href="vcontacto" class="btn btn-primary">Contáctenos</a>
			  </div>
			</div>
		</div>
	</div>
	<br>
</div>