<div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Forms</li>
          </ul>
        </div>
      </div>
      <section class="forms">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <header> 
                <h1 class="h3 display">Asistencia</h1>
              </header>
              <form onsubmit="return false" id="form-asistencia">
                <div class="form-group text-center">
                  <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                      <h1>Ingrese su DNI: </h1><br>
                      <input class="form-control" id="in-dni"  type="text" /><br>
                      <button type="submit" class="btn btn-primary center btn-lg">Aceptar</button>
                    </div>
                    <div class="col-lg-4"></div>
                  </div>
                </div>
              </form>
                <div id="view-welcome" class="form-group text-center" style="display: none;">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-block">
                        <h1 class="card-title">Bienvenid@</h1>
                        <h1 id="ver-name"></h1>
                        <button type="button" id="volver-asistencia" class="btn btn-link">Aceptar</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>