<div class="breadcrumb-holder">
        <!-- <div class="container-fluid"> -->
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Forms</li>
          </ul>
      <!--   </div> -->
      </div>
      <section class="forms">
        <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <header> 
            <h1 class="h3 display">Personal</h1>
          </header>
          <div class="form-group" style="text-align: right;">
            <div class="col-lg-12">
                  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Agregar Personal</button>
                  <!-- Modal-->
                  <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 id="exampleModalLabel" class="modal-title">Añadir Personal</h5>
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                          <form  onsubmit="return false" id="form-employee">
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#DatosG" role="tab">Datos Gral.</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">tab2</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">tab3</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#tab4" role="tab">tab4</a>
                            </li>
                          </ul>
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div class="tab-pane active" id="DatosG" role="tabpanel">
                            <div class="row">
                              <div class="col-sm-4 text-center">
                                  <!-- <div class="kv-avatar">
                                      <div class="file-loading">
                                          <input id="avatar-2" name="avatar-2" type="file" required>
                                      </div>
                                  </div> -->
                              </div>
                              <div class="col-sm-8">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>Nombres <span class="required">*</span></label>  
                                      <input class="form-control" id="txt-name"  type="text" />
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>Apellidos <span class="required">*</span></label>
                                      <input class="form-control " id="txt-lastname" type="text"/>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>DNI <span class="required">*</span></label>
                                      <input class="form-control " id="txt-dni" type="text"/>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label for="lname">Fecha de Admisión</label>
                                      <div class="input-group date" data-provide="datepicker">
                                          <input type="text" class="form-control" id="txt-day">
                                          <div class="input-group-addon">
                                              <span class="fa fa-calendar"></span>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane" id="tab2" role="tabpanel">.2..</div>
                          <div class="tab-pane" id="tab3" role="tabpanel">..3.</div>
                          <div class="tab-pane" id="tab4" role="tabpanel">...4</div>
                        </div>
                        <div class="modal-footer">
                              <button class="btn btn-success" type="submit">Guardar</button>
                        </div>
                        </form>
                          <!-- ***************************** -->
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <table id="table-personal" class="display responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>N°</th>
                <th>Apellidos y Nombres</th>
                <th>DNI</th>
                <th>Fecha Ingreso</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>N°</th>
                <th>Apellidos y Nombres</th>
                <th>DNI</th>
                <th>Fecha Ingreso</th>
                <th>Opciones</th>
            </tr>
        </tfoot>
        <tbody>
          
        </tbody>
    </table>
        </div>
      </section>