<div class="breadcrumb-holder">
  <div class="container-fluid">
  </div>
</div>
<section class="forms">
  <div class="row" id="principal" style="padding: 40px 80px 40px 80px;">
    <div class="col-md-3">
      <div class="text-center">
        <a class="cpointer" id="fua">
        <img class="card-img-top contenedor imagen" src="assets/images/extras/fua.png">
        </a>
        <div class="card-block">
          <h4 class="card-title">FUA'S</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="text-center">
        <a class="cpointer" id="rrhh">
        <img class="card-img-top contenedor imagen" src="assets/images/extras/rrhh.png">
        </a>
        <div class="card-block">
          <h4 class="card-title">RRHH</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="text-center">
        <a class="cpointer" id="rrhh">
        <img class="card-img-top contenedor imagen" src="assets/images/extras/rrhh.png">
        </a>
        <div class="card-block">
          <h4 class="card-title">RRHH</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="text-center">
        <a class="cpointer" id="rrhh">
        <img class="card-img-top contenedor imagen" src="assets/images/extras/rrhh.png">
        </a>
        <div class="card-block">
          <h4 class="card-title">RRHH</h4>
        </div>
      </div>
    </div>
  </div>
<!-- Parte 2 -->
  <div id="secundario" style="padding: 40px 80px 40px 80px;">
    <div id="1" class="row justify-content-around" style="display: none;">
      <div class="col-md-3">
        <div class="text-center">
          <a href="fua">
          <img class="card-img-top contenedor imagen" src="assets/images/extras/crearfua.png">
          </a>
          <div class="card-block">
            <h4 class="card-title">Crear FUA</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center">
          <a href="">
          <img class="card-img-top contenedor imagen" src="assets/images/extras/verfua.png">
          </a>
          <div class="card-block">
            <h4 class="card-title">Ver FUA'S</h4>
          </div>
        </div>
      </div>
    </div>

    <div id="2" class="col-md-12" style="display: none;">
      <a class="cpointer"><img src="assets/images/extras/rrhh.png"></a>
    </div>
    <div class="row justify-content-end">
      <a class="cpointer" id="return" style="display: none;"><img class="imagen" style="width: 50px;margin-top: 100px" src="assets/images/extras/return.png"></a>
    </div>
  </div>
</section>